{% extends 'base.html' %}
{% block content %}
<div id="calendar-container" class="container">
  <div class="page-header">
    <h1>API Testing</h1>
    <div id="account-login" class="container">
      {{ show_flashes() }}
      <form class="form-signin" action="{{ url_for('search') }}" method="POST">
        <h2 class="form-signin-heading">Search JSON</h2>
        {{ render_bootstrap_field(form.query_words) }}
        Cidade:
        {{ render_bootstrap_field(form.cities) }}
        Ordenar Salário
        {{ render_bootstrap_field(form.order) }}
        {{ form.csrf_token }}
        <button class="btn btn-lg btn-success btn-block" type="submit">Go!</button>
      </form>
    </div> <!-- /container -->
    <h1>Results</h1>
    <div id="account-login" class="container">
      {% for job in search_results %}
        <div>
          <h2>{{ job['title'] }}</h2>
          <b>Descrição: </b> <br> {{ job['description'] }} <br>
          <b>Salário: </b> R${{ job['salario'] }} <br>
          <b>Cidade: </b> {{ job['cidade'][0] }}

        </div>
        <br>
      {% endfor %}
    </div> <!-- /container -->
  </div>
</div><!-- /.container -->
{% endblock %}
